{% extends 'happy.html.twig' %}
{% set page_active = true %}
{% set jumbotron = false %}

{% block title %}
    {{ 'page.offers.title'|trans }}
{% endblock %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="ui container">
                <h2>{{ 'page.offers.title'|trans }}</h2>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <a class="header" href="{{ asset('assets/pdf/prezentare.pdf') }}">{{ 'page.offers.presentation'|trans }}</a>
                            <div class="description">Catalogul general al F.E. Happy Toys S.R.L.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <a class="header" href="{{ asset('assets/pdf/oferta_primavara.pdf') }}">{{ 'page.offers.spring'|trans }}</a>
                            <div class="description">Oferta de primăvară al F.E. Happy Toys S.R.L.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <a class="header" href="{{ asset('assets/pdf/oferta_pasti.pdf') }}">{{ 'page.offers.easter'|trans }}</a>
                            <div class="description">Oferta de Paște al F.E. Happy Toys S.R.L.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
